name: Buid
on:
  pull_request:
  push:
    branches:
      - master
jobs:
  test:
    name: Run tests ${{matrix.sdk}} on ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        sdk: ['stable']
    runs-on: ${{ matrix.os }}
    steps:
      - uses: dart-lang/setup-dart@v1
        with:
          sdk: ${{ matrix.sdk }}
      - uses: actions/checkout@v2
      - run: dart --version
      - run: dart pub get
      # Verify the library re-generates.
      - run: dart --enable-asserts tool/generate_analysis.dart
      # Verify that the libraries are error free.
      - run: dart analyze --fatal-infos .
      # Run the tests.
      - run: dart test
      # Run a basic smoke test.
      - run: dart tool/analysis_tester.dart
      - name: "check for uncommitted changes"
        run: git diff --exit-code --stat
        shell: bash
